:root {
  background-color: #242424;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

body {
  display: flex;
  place-items: center;
  width: 100%;
  max-width: 300px;
  min-height: 100vh;
  margin: 0 auto;
}

input {
  width: 100%;
  max-width: 400px;
  margin: 20px 0;
  padding: 10px;
  border: none;
  border-radius: 10px;
  outline: none;
}

button {
  width: 100%;
  max-width: 150px;
  margin: 10px 0;
  padding: 5px;
  border: none;
  border-radius: 10px;
}

button:hover {
  cursor: pointer;
  background-color: #5c5c5c;
  transition: all 500ms;
}
